

 *{
  margin: 0;
  padding: 0;
 
}
body{
  background:rgb(77, 192, 205);
  color: #0c0303;
  font-family: system-ui;

  
}
.crud{
  width: 80%;
  margin: auto;

}
.head{
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0 ;

}
input{
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background: #111;
  margin:  4px 0 ;
  border-radius: 4px;
  padding: 4px;
  color: aliceblue;
}
input:focus{
  background: #000;
  transform: scale(1.1);
}
.deletAll{
  margin: 20px  0;
}



.price input{
  width: 20%;
}

#totl{
  background: red;
  padding: 5px 2px;
  border-radius: 4px;
}


#totl::before{
  content: 'totle: ';
}
button{
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
  background: #01167a;
  color: #fff;
  border-radius: 20px;
 transition: 0.5s;
}

button:hover{
  background:#32449d ;
  letter-spacing: 2px;
}

.btnserth{
display: flex;

}
.btnserth button{
width: 45%;


}

table{
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
table th{
  text-transform: uppercase;
}
th,td{ 
  padding: 5px;
}




 








































































/* *{
  padding: 0;
  margin: 0;
}

body{
  width:100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui;
}

.tital{
  font-size: 30px;
}
ul{
  position: relative;
  left: 30px;
}

.relod{
  padding: 10px;
  margin-top: 10px;
  outline: none;
  border: none;
  background: #666;
  color: #fff;
  border-radius: 20px;
}
.hide{
  display: none;
}
 */























































